modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Discord Bot"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Discord Bot Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install discord.js sqlite3 && node index.js"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 3000

[[workflows.workflow]]
name = "Discord Bot"
author = 45034674
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[ports]]
localPort = 3000
externalPort = 80
